<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/clickShow.js}"></script>
	<script th:src="@{/js/managerPropertyBtnAction.js}"></script>	
		
    <title>Zarządzanie Nieruchomościami</title>
</head>

<body th:object="${propertyInfo}">
	
	<p id="defineDisplay" th:text="*{whatToDisplay}" style="display:none"></p>
		
    <div class="header">
        <div class="name">Zarządzanie Nieruchomościami </div>
    </div>

	<div class="navigation smallHide navWidth">
        <ul>
            <li><button class="buttonNav" onclick="location.href='/manager/manager'">Użytkownik</button></li>
            <li><button class="buttonNav" onclick="location.href='/manager/property'">Wspólnota</button></li>
            <li><button class="buttonNav" onclick="location.href='/manager/notification?display=new'">Zgłoszenia</button></li>
            <li id="rightLi">
            	<form th:action="@{/logout}" method="POST">
            		<input type="submit" class="buttonNav" value="Wyloguj">
            	</form>
            </li>
        </ul>
    </div>
    
    <div class="smallNav">
        <div class="smallNavHeader">  
            <span class="clickShow">Menu ..</span>
        </div>
        <div class="smallNavToggle" style="display: none;">
            <div class="navigation mediumHide">
                <ul>
		            <li><button class="buttonNav" onclick="location.href='/manager/manager'">Użytkownik</button></li>
		            <li><button class="buttonNav" onclick="location.href='/manager/property'">Wspólnota</button></li>
		            <li><button class="buttonNav" onclick="location.href='/manager/notification?display=new'">Zgłoszenia</button></li>
		            <li id="rightLi">
		            	<form th:action="@{/logout}" method="POST">
		            		<input type="submit" class="buttonNav" value="Wyloguj">
		            	</form>
		            </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="contentText">

            <p id="associationTitle" style="font-size: 3vh; margin: 10px;"></p>

            <div style="position: absolute; left: 5%; top: 3%;" >
            	<form th:action="@{/manager/chooseProperty}" method="POST" th:object="${searchProperty}">
            		<Input class="fill" type="hidden" th:field="*{name}"></Input>
	                <select id="selectProperty" style="float: left;" onchange="setPropertyUrl()">
	                	<option style="display: none"></option>
	                    <option th:each="propertyEl : ${propertyList}" th:value="${propertyEl.id}" th:text="${propertyEl.name}" th:selected="${propertyEl.id} == ${searchProperty.name}"></option>
	                </select>
                </form>
            </div>
 	
			<div class="inMenu smallHide" th:object="${searchProperty}">
		                <button class="fill inMenuButton current" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name})}+ '\''" th:field="*{name}">Aktualne</button>
		                <button class="fill inMenuButton all" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='all')}+ '\''" th:field="*{name}">Wszystkie</button>
		                <button class="fill inMenuButton previous" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='previous')}+ '\''" th:field="*{name}">Przeszłe</button>
		                <button class="fill inMenuButton new" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='new')}+ '\''" th:field="*{name}">Nowe ogłoszenie</button>
		                <button class="fill inMenuButton onRight managersBtn" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='managers')}+ '\''" th:field="*{name}">Zarząd</button>
            </div>
            <div class="smallNav">
                <div class="smallNavHeader">  
                    <span class="clickShow">Menu wspólnoty ..</span>
                </div>
                <div class="smallNavToggle" style="display: none;">
                    <div class="inMenu mediumHide higherMenu" th:object="${searchProperty}">
		                <button class="fill inMenuButton current" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name})}+ '\''" th:field="*{name}">Aktualne</button>
		                <button class="fill inMenuButton all" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='all')}+ '\''" th:field="*{name}">Wszystkie</button>
		                <button class="fill inMenuButton previous" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='previous')}+ '\''" th:field="*{name}">Przeszłe</button>
		                <button class="fill inMenuButton new" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='new')}+ '\''" th:field="*{name}">Nowe ogłoszenie</button>
		                <button class="fill inMenuButton onRight managersBtn" th:onclick="'window.location.href = \'' + @{/manager/property(propertyId=${searchProperty.name},display='managers')}+ '\''" th:field="*{name}">Zarząd</button>
                    </div>
                </div>
            </div>

            <div class="info">
                <span style="float: left; margin-left: 10%;">Nazwa Ogłoszenia</span>
                <span>Data</span>
                <span style="position: relative; float: right; right: 5%;">Info</span>
            </div>

			<div th:each="announcementEl : ${announcementList}" id="announcementShowDiv">
	            <div class="announcement">
	                <div class="inHeader">
	                    <div class="announcementTitle" th:text="${announcementEl.title}"></div>
	                    <div class="announcementDate" th:text="${announcementEl.dateFrom + '-' + announcementEl.dateTo}"></div>
                        <form th:object="${announcementEdit}" th:action="@{/manager/announcementShowUpdate}" method="POST">
                            <input type="hidden" name="id" th:value="${announcementEl.id}">
     						<input type="submit" class="clickableBtn" id="editBtn" value="">
                        </form>
                        <form th:object="${announcementEdit}" th:action="@{/manager/announcementDelete}" method="POST" onsubmit="return confirm('Usunąć ogłoszenie?') ? true : false;">
                            <input type="hidden" name="id" th:value="${announcementEl.id}">
     						<input type="submit" class="clickableBtn" id="deleteBtn" value="">
                        </form>	  
	                    <div class="downArrow clickShow rightDiv"></div>
	                </div>
	                <div class="toToggle" style="display: none;">
	                    <p style="text-indent: 10%;" th:text="${announcementEl.announcementText}">
	                    </p>
	                    <p style="float: right">Z wyrazami szacunku Zarządca</p>
	                </div>
	            </div>
			</div>
			
			<div id="newAnnouncement" th:object="${searchProperty}">
                <form th:action="@{/manager/saveAnnouncement}" method="POST" th:object="${newAnnouncement}">
                    <Input type="hidden" th:field="*{id}"></Input>
                    <Input type="hidden" name="property" th:value="${searchProperty.name}"></Input>
                    <p>
                        <span class="newLab">
                            Nazwa:
                        </span>
                        <span class="newCont">
                            <Input class="newWidth" type="text" th:field="*{title}"></Input>
                        </span>
                    </p>
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red; margin: -10px; font-size: 1.5vh;"></div>
                    <p>
                        <span class="newLab">
                            Data od:
                        </span>
                        <span class="newCont">
                            <Input class="newWidth" type="date" th:field="*{dateFrom}"></Input>
                        </span>
                    </p>
                    <div th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}" style="color:red; margin: -10px; font-size: 1.5vh;"></div>
                    <p>
                        <span class="newLab">
                            Data do:
                        </span>
                        <span class="newCont">
                            <Input class="newWidth" type="date" th:field="*{dateTo}"></Input>
                        </span>
                    </p>
                    <div th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}" style="color:red; margin: -10px; font-size: 1.5vh;"></div>
                    <div th:if="${#fields.hasGlobalErrors()}"  th:errors="*{global}" style="color:red; margin-top: 10px;"></div>
                    <p>
                        <span class="newLab">
                            Ogłoszenie:
                        </span>
                        <span class="newCont">
                            <textarea th:field="*{announcementText}" style="position: relative; width: 90%; height: 60px; overflow: auto; resize: none;"></textarea>
                        </span>
                    </p>
                    <div th:if="${#fields.hasErrors('announcementText')}" th:errors="*{announcementText}" style="color:red; margin: -10px; font-size: 1.5vh;"></div>
                    <p>
                        <span style="position: relative; float: right; right: 80px;">
                            <input type="submit" name="Zmień">
                        </span>
                    </p>
                </form>
                <button style="position: relative; float: right; right: -35px;" onclick='location.href="/manager/property"'>Cofnij</button>
            </div>

			<div th:each="managerEl : ${managersList}" id="managersShowDiv">
				<div class="managers"> 
	                <div class="managersLabal">
	                    Imie:<br>
	                    Nazwisko:<br>
	                    Telefon:<br>
	                    Wspólnota:<br>
	                    Lokal:<br>
	                </div>
	                <div class="managersFill">
	                    <span th:text="${managerEl.firstName}"></span><br>
	                    <span th:text="${managerEl.lastName}"></span><br>
	                    <span th:text="${managerEl.number}"></span><br>
	                    <span th:text="${managerEl.property.name}"></span><br>
	                    <span th:text="${managerEl.apartmentNumber}"></span><br>
	                </div>
            	</div>
			</div>
        </div>
    </div>
    
<script>
	function setPropertyUrl(){
		var id = $("#selectProperty").val();
		$(".fill").val(id);
		$("#selectProperty").parent().submit();
	};	
</script>
    
</body>

</html>