<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/clickShow.js}"></script>
	<script th:src="@{/js/userBtnAction.js}"></script>
	
    <title>Zarządzanie Nieruchomościami</title>
</head>

<body th:object="${userInfo}">
	
	<p id="defineDisplay" th:text="*{whatToDisplay}" style="display:none"></p>
	
	
    <div class="header">
        <div class="name">Zarządzanie Nieruchomościami </div>
    </div>

	<div class="navigation smallHide">
        <ul>
            <li><button class="buttonNav" onclick="location.href='/user/user'">Użytkownik</button></li>
            <li><button class="buttonNav" onclick="location.href='/user/user'">Wspólnota</button></li>
            <li><button class="buttonNav" onclick="location.href='/user/user'">Zgłoszenia</button></li>
            <li id="rightLi">
            	<form th:action="@{/logout}" method="POST">
            		<input type="submit" class="buttonNav" value="Wyloguj">
            	</form>
            </li>
        </ul>
    </div>
    
    <div class="smallNav">
        <div class="smallNavHeader">  
            <span class="clickShow">Menu ..</span>
        </div>
        <div class="smallNavToggle" style="display: none;">
            <div class="navigation mediumHide">
                <ul>
                    <li><button class="buttonNav" onclick="location.href='/user/user'">Użytkownik</button></li>
		            <li><button class="buttonNav" onclick="location.href='/user/user'">Wspólnota</button></li>
		            <li><button class="buttonNav" onclick="location.href='/user/user'">Zgłoszenia</button></li>
		            <li id="rightLi">
		            	<form th:action="@{/logout}" method="POST">
		            		<input type="submit" class="buttonNav" value="Wyloguj">
		            	</form>
		            </li>
                </ul>
            </div>
        </div>
    </div>

	<div class="userInfo user" th:object="${user}">
        <div class="inLabel">
            <p>Imie:</p>
            <p>Nazwisko:</p>
            <p>Telefon:</p>
            <p>Wspólnota:</p>
            <p>Lokal:</p>
        </div>
        <div class="inText" >
            <p th:text="*{firstName}"></p>
            <p th:text="*{lastName}"></p>
            <p th:text="*{number}"></p>
            <p th:object="${property}" th:text="*{name}"></p>
            <p th:text="*{apartmentNumber}"></p>  
        </div>
    </div>
    <div class="userOnButton">
        <button class="buttonNav userButton" id="userChangePassword" onclick='location.href="/user/user?display=userPass"'>zmień hasło</button>
        <button class="buttonNav userButton" id="userEditInfo" onclick='location.href="/user/user?display=userEdit"'>Edytuj</button>
    </div>

	<div class="userEdit user">
        <form th:object="${user}" th:action="@{/user/userUpdate}" method="POST">
            <Input type="hidden" th:field="*{login}"></Input>
            <p>
                <span class="newLab">
                    Imie:
                </span>
                <span class="newCont">
                    <Input class="newWidth" type="text" th:field="*{firstName}" th:value="*{firstName}"></Input>
                </span>
            </p>
            <p>
                <span class="newLab">
                    Nazwisko:
                </span>
                <span class="newCont">
                    <Input class="newWidth" type="text" th:field="*{lastName}" th:value="*{lastName}"></Input>
                </span>
            </p>
            <p>
                <span class="newLab">
                    Telefon:
                </span>
                <span class="newCont">
                    <Input class="newWidth" type="text" th:field="*{number}" th:value="*{number}"></Input>
                </span>
            </p>
            <p>
                <span class="newLab">
                    Lokal:
                </span>
                <span class="newCont">
                    <Input class="newWidth" type="text" th:field="*{apartmentNumber}" th:value="*{apartmentNumber}"></Input>
                </span>
            </p>
            <p>
                <span style="position: relative; float: right; right: 10%;">
                    <input type="submit" name="Zmień">
                    <button onclick='location.href="/user/user"'>Cofnij</button>
                </span>
            </p>
        </form>
    </div>

	<div class="userPassword">
        <span style="display: inline-block; margin: 15px;"><b>Zmiana hasła</b></span>
        
        <form th:object="${user}" th:action="@{/user/userPassword}" method="POST">    
	       <Input type="hidden" th:field="*{login}"></Input> 
	       <div th:object="${userPasswordModel}">    
	           <p>
	               <span class="newLab">
	                   Stare hasło:
	               </span>
	               <span class="newCont">
	                   <Input class="newWidth" type="password" th:field="*{oldPassword}"></Input>
	               </span>
	           </p>
	           <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" style="color:red; margin: -10px;"></div>
	           <p>
	               <span class="newLab">
	                   Nowe hasło:
	               </span>
	               <span class="newCont">
	                   <Input class="newWidth" type="password" th:field="*{newPassword}"></Input>
	               </span>
	           </p>
	           <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color:red; margin: -10px;"></div>
	           <p>
	               <span class="newLab">
	                   Powtórz hasło:
	               </span>
	               <span class="newCont">
	                   <Input class="newWidth" type="password" th:field="*{confirmNewPassword}"></Input>
	               </span>
	           </p>
	           <div th:if="${#fields.hasGlobalErrors()}"  th:errors="*{global}" style="color:red"></div>
	           <div>
		           <span style="position: relative; float: right; right: 80px;">
		               <input type="submit" name="Zmień">
		               
		           </span>
	           </div>

	        </div>
	     </form>
	     <button style="position: relative; float: right; right: -35px; top: 2px;" onclick='location.href="/user/user"'>Cofnij</button>
    </div>	

</body>

</html>