	html{
        height: 100%;
    }
    body{
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        background-color: rgba(255,255,255,0.7);
        background-blend-mode: color;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    body background-image{
        opacity: 0.5;
    }
    
    .header{
        position: relative;
        height: 20%;
        width: 100%;
        text-align: center;
        font-size: 6vh;
    } 
    .name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .navigation{
        border: 3px solid rgb(48, 48, 48);
        border-radius: 10px;
        position: relative;
        background-color: rgb(63, 63, 63);
        width: 80%;
        left: 10%;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
    }
    .navigation ul{
        margin: 2px;
        display: inline-block;
        list-style-type: none;
    }
    .navigation ul li{
        float: left;
        margin: 0 10px;
    } 
    #rightLi{
        margin-left: 100px;
    }
    .buttonNav{
        cursor: pointer;
        width: 100px;
        padding: 5px;
        font-size: 15px;
        background-color: rgb(63, 63, 63);
        border: none;
        border-radius: 5px;
        color: white;
        outline: none;
    } 
    .buttonNav:hover{
        background-color: rgb(124, 124, 124);
    } 
    .smallNavHeader{
        display: none;
        border: 3px solid rgb(48, 48, 48);
        border-radius: 10px 10px 0 0;
        position: relative;
        background-color: rgb(63, 63, 63);
        width: 90%;
        left: 5%;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
        color: white;
    }    
    .mediumHide{
        display: none;
    }
    .navWidth{
    	width: 60%;
    	left: 20%;
    }
    #indexContent{
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 7%;
    }
    #indexContentText{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 10vh;
    }
    #indexFootbar{
    	display: none;
        background-color:  rgba(228, 228, 228, 0.7);
        position: absolute;
        bottom: 3%;
        left: 35%;
        border: 1px solid;
        height: 10%;
        width: 30%;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
    }
    #indexFootbarText{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
    #indexArrow{
        position: absolute;
        cursor: pointer;
        bottom: 1%;;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
    }
    
    /* main/contact =============== */
    #contactContent{
        background-color: rgb(240,240,240);
        border: solid 2px black;
        height: 60%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 5%;
    }    
    #contactContentText{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #contactManager{
        display: block;
        position: relative;
        height: 25%;
        width: 70%;
        left: 15%;
        top: 5%;
    }    
    #contactManagerPic{
        display: block;
        position: absolute;
        top: 10%;
        left:0%;
        height: 80%;
        width: 40%;
        text-align: right;
    }
    #contactManagerAvatar{
        height: 100%;
        margin: 0 0 0 -25px ;
    }
    #contactManagerText{
        position: absolute;
        top: 10%;
        left: 40%;
        height: 80%;
        width: 60%;
        text-align: left;
        font-size: 2.5vh;
    }
    #contactManagerDescription{
        position: relative;
        height: 40%;
        top: 5%;
        padding: 0 15% 0 15%;
        text-align: justify;
        font-size: 1.75vh;
        overflow: auto;
    }
    #contactManagerInfo{
        position: relative;
        height: 25%;
        width: 60%;
        left: 20%;
        top: 7%;
        border-top: 1px solid black;
        font-size: 2.0vh;
    }
    /* main/login =============== */
    #loginContent{
        border: 3px solid black;
        height: 35%;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10%;
        background-color: rgb(240,240,240);
        border: solid 2px black;
    }
    
    #loginContentText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
    }
    
    #loginContentText form input{
        font-size: 1.75vh;
    }
    
    #loginSubmit{
        font-size: 1.5vh;
        margin-top: -2px;
        float: right;
    }
    /* user/user =============== */
    .user{
        background-color: rgb(240,240,240);
        position: relative;
        border: 2px solid black;
        font-size: 2vh; 
        width: 400px; 
        top: 10%;
        margin: 0 auto; 
        padding-bottom: 40px;
    }
    .inLabel{
        position: absolute;
        left: 10%;
        width: 35%;
        text-align: right;
        padding-right: 10px;
        color: black;
        font-size: 2vh;
    }
    .inText{
        position: absolute;
        left:45%;
        width: 35%;
        text-align: left;
        padding-left: 20px;
        color: black;
    }
    .userOnButton{
        position: relative;
        width: 400px;
        top: 10%;
        margin: 0 auto;
    }
    .userButton{
        border-radius:0px 0px 10px 10px;
        border: 1px solid rgb(27, 27, 27);
        float: right;
    }
    .newLab{
        position: relative;
        width: 30%;
        float: left;
        margin-left: 5%;
        text-align: right;
    }
    .newCont{
        position: relative;
        display: block;
        margin-left: 40%;
        text-align: left;
    }
    .newWidth{
        width: 90%;
    }
    .userPassword{
        display: none;
        background-color: rgb(240,240,240);
        position: relative;
        width: 500px;
		padding-bottom: 40px;
        top: 10%;
        margin: 0 auto;
        border: 2px solid black;
        font-size: 15px;
        line-height: 25px;
    }
    /* user/property =============== */
    .content{
        background-color: rgb(240,240,240);
        position: relative;
        height: 60vh;
        width: 60%;
        left: 20%;
        top: 5%;
        border: 2px solid black;
    }
    .contentText{
        position: relative;
        top: 0%;
        height: 95%;
        overflow: auto;
        background-color: rgb(240,240,240);
        margin: 2%;
    }
    .inMenu{
        border: 2px solid rgb(41, 41, 41);
        position: relative;
        height: 35px;
        width: 95%;
        left: 2.5%;
        background-color: rgb(63, 63, 63);
    }
    .inMenuButton{ 
        position: relative;
        top: 5px;
        left: 10px;
        height: 25px;
        min-width: 60px;
        background-color: rgb(63, 63, 63);
        color: white;
        border: none;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    .announcementType button:hover{
        background-color: rgb(124, 124, 124);
        border-radius: 15px;
        color: black;
    }

    .active {
        background-color: rgb(124, 124, 124);
        border-radius: 15px;
        color: black;
    }
    .onRight{
        float: right;
        left: -2%;
    }
    .inHeader{
        display: inline-block;
        padding: 2% 0;
        position: relative;
        width: 100%;
        height: 20%;
        font-size: 2vh;
    }
    .info{
        padding: 15px 0px;
    }
    .announcement {
        margin-bottom: 20px;
        overflow: auto;
        position: relative;
        height: auto;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 11px 9px 18px -8px rgba(0,0,0,0.75);
    }
    .announcementTitle{
        float: left;
        text-align: left;
        margin-left: 5%;
        width: 50%;
    }
    .announcementDate{
        float: left;
        text-align: left;
        width: 25%;
    }
    .downArrow{
        position: relative;
        cursor: pointer;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
    }
    .rightDiv{
        position: relative;
        float: right; 
        right: 6%;
    }
    .toToggle{
        text-align: justify;
        position: relative;
        width: 90%;
        left: 5%;
        border-top: rgb(48, 48, 48) 1px solid;
    } 
    .managers{
        position: relative;
        margin-top: 20px;
        line-height: 3vh;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 11px 9px 18px -8px rgba(0,0,0,0.75);
        min-height: 16vh;
        width: 350px;
        margin: 20px auto 0;
    }
    .managersLabal{
        position: absolute;
        height: 100%;
        width: 45%;
        top: 5%;
        text-align: right;
    }  
    .managersFill{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 47%;
        top: 5%;
        text-align: left;
    }
    
	/* user/notification =============== */
    #newNotificationShowDiv{
        display: none; 
        position: relative;
        margin: 5% auto;
        padding-bottom: 2%;
  		height: 200px;
        width: 70%;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 11px 9px 18px -8px rgba(0,0,0,0.75);
    }
	.responseBtnDiv{
        width: 100%;
        border-top: 1px solid black;
    }
    .responseBtn{
        float: right;
        margin: 10px;
    }
    .divToResponse{
        display: none;
        width: 100%;
        margin: 0 auto;
        height: 120px;
    }
    
    /* manager/manager =============== */
    #managerProperty{
        display: none;
        position: relative;
        top: 5%;
        height: 42vh;
    }
    #role{
        position: relative;
        top: 10%;
        left: -165px;
        font-size: 3vh;
        text-align: center;
    }
    .divContent{
        position: relative;
        height: 100%;
        width: 70%;
        left: 25%;
        top: -30%;
    }
    .newDiv{
    	display: none;
    	top: 10%;
    	left: -10%;
    	max-width: 500px;
    	margin: 0 auto;
    }
    .buttonDivContent{
        position: relative;
        left: 5%;
        width: 15%;
        height: 30%;
        top: 0%;
    }
    .annLabel{
        display: inline-block;
        width: 100px;
    }
    
    .annContent{
        display: inline-block;
    }
    .addNewButton{
        position: relative;
        margin-bottom: 10%;
		padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 5px 9px 5px -8px rgba(0,0,0,0.75); 
        background-color: rgb(63, 63, 63);
        color: white;
        border: none;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    .clickableBtn{
    	cursor: pointer;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        display: block;
        height: 20px;
    }
    .clickableBtn:hover{
        border: 2px solid white; 
    }
    #editBtn{
        background-image: url(../images/edit.png);
        transform: rotate(45deg);
        width: 8px;
        right: 20%;
        background-size:100% 100%;
    }
    #deleteBtn {
        background-image: url(../images/delete.png);
        width: 20px;
        right: 12%;
    }
    
    #managerUser{
        position: relative;
        margin-top: 2%;
        width: 90%;
        left: 5%;
        height: 70%;
    }
	.smallMenu{
		height: 90%;
		line-height: 30px;                         
	}
	.smallContent{
		overflow: auto; 
		height: 90%; 
		top: -90%; 
	}
	.toSearch{
		box-sizing: border-box;
	}
	form.toSearch input[type=text] {
		width: 70%;
		height: 14px;
		position: relative;
		display: block;
		left: 0%; 
	}
	form.toSearch button {
		width: 25%;
		color:rgb(63, 63, 63);
		cursor: pointer;
		display: block;
		position: relative;
		left: 75%;
		height: 20px;
		top: -20px;
		margin-bottom: -10px;
	}
	.newUserDiv{
		display: none;
		position: relative;
		width: 80%;
		left: 5%;
		top: 10%;
		height: 50%;
	}
	#generateUser{
		display: none;
		position: relative;
		top: 10%;
		width: 400px;
		margin: 0 auto;
	}

    
    
    
    
    
    
    
 
    
    

    @media only screen and (max-width: 1045px) {
	    .navigation ul li{
	        margin: 0px;
	    } 
	    #rightLi{
	        margin-left: 0px;
	    }
	    
	    #indexContentText{
	        font-size: 6vh;
	    }
	    #indexFootbar{
	        left: 30%;
	        width: 40%;
	    }
	    #indexFootbarText{
	        font-size: 2vh;
	    }
	    /* main/contact =============== */
	    #contactContent{
        width: 70%;
	    }
	    #contactManager{
	        width: 90%;
	        left: 5%;
	    }
	    #contactManagerInfo{
	        width: 80%;
	        left: 10%;
	    }
	}

	@media only screen and (max-width: 700px) {
	    .navigation{
	        width: 90%;
	        left: 5%;
	        border-top: none;
	        border-radius: 0 0 10px 10px;
	    }
	    .navigation ul li{
	        width: 80%;
	        margin: 0px;
	    }
	    .smallHide{
	        display: none;
	    }
	    .smallNavHeader{
	        display: block;
	    }
	    .mediumHide{
	        display: block;
	    }
	    
	    #indexFootbar{
	        left: 25%;
	        width: 50%;
	    }
	    /* main/contact =============== */
	    #contactContent{
        width: 90%;
    	}
	    #contactManagerDescription{
	        padding: 0 10% 0 10%;
	    }
	    #contactManager{
	        width: 90%;
	        left: 5%;
	    }
	    /* main/login =============== */
	    #loginContent{
        	width: 90%;
   		}
   		/* user/user =============== */
   		.user{ 
       		width: 90%; 
	    }
	    .userOnButton{
	        width: 90%;
	    }
	    .userPassword{
        	width: 90%;
    	}
    	/* user/property =============== */
    	.content{
	        width: 90%;
	        left: 5%;
	        height: 70vh;
	    }
	    .inMenu{
	        height: 100px;
	        width: 90%;
	        left: 5%;
	        border-radius: 0 0 10px 10px;
	        border: 3px solid rgb(48, 48, 48);
	        border-top: none;
	    }
	    .inMenuButton{ 
	        width: 100%;
	        top: 0%;
	        left: 0%;
	    }
	    .announcementTitle{
	        margin-left: 10%;
	    }
	    .managers{
	        width: 280px;
	    }
	    
	    /* user/notification =============== */
	    #newNotificationDiv{
	        width: 95%;
	        left: 2.2%;
	        margin: 0;
	        margin-top: 5%;
	    }
    	.divToResponse{
	        margin: 0 auto;
	    }
	    
    	/* manager/manager =============== */	    
	    #role{
	        left: -35%;
	    }
    	.smallMenu{
	        height: 25%;
	        width: 60%;
	        left: 20%;                      
		}
		.smallContent{
	        top: 5%;
	        width: 80%;
	        left: 10%;
		}
		.addNewButton{
			margin: 0;
		}
	}
    
    
    
    
    
    
    