	html{
        height: 100%;
    }
    body{
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        background-color: rgba(255,255,255,0.7);
        background-blend-mode: color;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    body background-image{
        opacity: 0.5;
    }
    
    .header{
        position: relative;
        height: 20%;
        width: 100%;
        text-align: center;
        font-size: 6vh;
    } 
    .name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
       
    .navigation{
        border: 3px solid rgb(48, 48, 48);
        border-radius: 10px;
        position: relative;
        background-color: rgb(63, 63, 63);
        width: 80%;
        left: 10%;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
    }
    .navigation ul{
        margin: 2px;
        display: inline-block;
        list-style-type: none;
    }
    .navigation ul li{
        float: left;
        margin: 0 10px;
    } 
    #rightLi{
        margin-left: 100px;
    }
    .buttonNav{
        cursor: pointer;
        width: 100px;
        padding: 5px;
        font-size: 15px;
        background-color: rgb(63, 63, 63);
        border: none;
        border-radius: 5px;
        color: white;
        outline: none;
    } 
    .buttonNav:hover{
        background-color: rgb(124, 124, 124);
    } 
    
    .smallNavHeader{
        display: none;
        border: 3px solid rgb(48, 48, 48);
        border-radius: 10px 10px 0 0;
        position: relative;
        background-color: rgb(63, 63, 63);
        width: 90%;
        left: 5%;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
        color: white;
    }    
    .mediumHide{
        display: none;
    }

    #indexContent{
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 7%;
    }
    #indexContentText{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 10vh;
    }
    #indexFootbar{
    	display: none;
        background-color:  rgba(228, 228, 228, 0.7);
        position: absolute;
        bottom: 3%;
        left: 35%;
        border: 1px solid;
        height: 10%;
        width: 30%;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
    }
    #indexFootbarText{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }
    #indexArrow{
        position: absolute;
        cursor: pointer;
        bottom: 1%;;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
    }
    
    /* main/contact =============== */
    #contactContent{
        background-color: rgb(240,240,240);
        border: solid 2px black;
        height: 60%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 5%;
    }    
    #contactContentText{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #contactManager{
        display: block;
        position: relative;
        height: 25%;
        width: 70%;
        left: 15%;
        top: 5%;
    }    
    #contactManagerPic{
        display: block;
        position: absolute;
        top: 10%;
        left:0%;
        height: 80%;
        width: 40%;
        text-align: right;
    }
    #contactManagerAvatar{
        height: 100%;
        margin: 0 0 0 -25px ;
    }
    #contactManagerText{
        position: absolute;
        top: 10%;
        left: 40%;
        height: 80%;
        width: 60%;
        text-align: left;
        font-size: 2.5vh;
    }
    #contactManagerDescription{
        position: relative;
        height: 40%;
        top: 5%;
        padding: 0 15% 0 15%;
        text-align: justify;
        font-size: 1.75vh;
        overflow: auto;
    }
    #contactManagerInfo{
        position: relative;
        height: 25%;
        width: 60%;
        left: 20%;
        top: 7%;
        border-top: 1px solid black;
        font-size: 2.0vh;
    }
    /* main/login =============== */
    #loginContent{
        border: 3px solid black;
        height: 35%;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10%;
        background-color: rgb(240,240,240);
        border: solid 2px black;
    }
    
    #loginContentText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
    }
    
    #loginContentText form input{
        font-size: 1.75vh;
    }
    
    #loginSubmit{
        font-size: 1.5vh;
        margin-top: -2px;
        float: right;
    }
    
    
    
    
    
    
    
 
    
    

    @media only screen and (max-width: 1045px) {
	    .navigation ul li{
	        margin: 0px;
	    } 
	    #rightLi{
	        margin-left: 0px;
	    }
	    
	    #indexContentText{
	        font-size: 6vh;
	    }
	    #indexFootbar{
	        left: 30%;
	        width: 40%;
	    }
	    #indexFootbarText{
	        font-size: 2vh;
	    }
	    /* main/contact =============== */
	    #contactContent{
        width: 70%;
	    }
	    #contactManager{
	        width: 90%;
	        left: 5%;
	    }
	    #contactManagerInfo{
	        width: 80%;
	        left: 10%;
	    }
	}

	@media only screen and (max-width: 700px) {
	    .navigation{
	        width: 90%;
	        left: 5%;
	        border-top: none;
	        border-radius: 0 0 10px 10px;
	    }
	    .navigation ul li{
	        width: 80%;
	        margin: 0px;
	    }
	    .smallHide{
	        display: none;
	    }
	    .smallNavHeader{
	        display: block;
	    }
	    .mediumHide{
	        display: block;
	    }
	    
	    #indexFootbar{
	        left: 25%;
	        width: 50%;
	    }
	    /* main/contact =============== */
	    #contactContent{
        width: 90%;
    	}
	    #contactManagerDescription{
	        padding: 0 10% 0 10%;
	    }
	    #contactManager{
	        width: 90%;
	        left: 5%;
	    }
	    /* main/login =============== */
	    #loginContent{
        	width: 90%;
   		}
	}
    
    
    
    
    
    
    